*::placeholder {
  color: #bbb;
}
.warning {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.flex-1 {
  flex: 1;
}
.pre-input {
  background: #ddd;
  padding: 5px 8px;
  display: flex;
  align-items: center;
}
small {
  font-size: 0.8em;
  font-style: italic;
  color: #999;
}
.inline-option {
  display: flex;
  align-items: center;
  label {
    margin: 0 !important;
  }
  input[type=checkbox], input[type=radio] {
    margin: 0 10px 0 0;
  }
}
.sortable-placeholder {
  border: 2px dashed #999;
}
.sortable-container {
  margin-top: 0;
}
.sortable-item {
  background-color: #fafafa;
  border: 1px solid #ddd;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.sortable-header {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  span {
    padding: 5px;
    border-left: 1px solid #ddd;
  }
}
.sortable-title {
  margin: 0;
  padding: 0 0 0 10px;
  flex: 1;
  text-transform: uppercase;
}
.sortable-delete {
  cursor: pointer;
}
.sortable-handle {
  cursor: ns-resize;
}
.sortable-content {
  padding: 10px;
}

.invalid {
  background-color: #fdd !important;
}

.banner-align {
  legend {
    padding: 0;
    margin-bottom: 5px;
  }
  input {
    margin: 0;
  }
  .pre-input {
    margin-right: 10px;
  }
}

.custom-meta-inside, .section {
  ul {
    margin: 10px 0;
  }
  li {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  label {
    display: inline-block;
    margin-bottom: 2px;
  }
  input[type=text], input[type=email], input[type=number], textarea {
    line-height: 20px;
    width: 100%;
    margin: 0;
  }
  fieldset {
    padding: 10px;
    border: 1px solid #ddd;
    ul {
      // margin-bottom: 3px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  select {
    display: block;
  }
  textarea {
    height: 80px;
  }
  .sortable-item {
    ul {
      margin: 0;
    }
  }
}

.post-selector-container, .svg-selector-container {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  background: #fff;
  .post-selector-type {
    border: 1px solid #ddd;
    border-right: 0;
    overflow: scroll;
  }
  .post-selector-id {
    border: 1px solid #ddd;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  ul {
    flex: 1;
    overflow: scroll;
  }
  ul, li {
    margin: 0 !important;
  }
  input[type=radio] {
    display: none;
    &:checked + label {
      background: #ddd;
    }
  }
  input[type=text] {
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 4px 8px 3px;
  }
  label, i {
    display: block;
    padding: 5px 15px 5px 8px;
    margin-bottom: 0 !important;
    transition: 0.3s ease;
    line-height: 1.2em;
  }
  label:hover {
    background-color: #f6f6f6;
  }
  i {
    color: #aaa;
  }
}
.svg-selector-container {
  display: block;
  height: auto;
  max-height: 200px;
  margin: 0 !important;
  background: none;
  ul {
    display: none;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    background: #fff;
  }
  label {
    padding: 10px;
    flex: 1;
  }
  .svg-selection {
    display: inline-flex;
    align-items: stretch;
    border: 1px solid #ddd;
    height: 100%;
    background: #fff;
    svg {
      width: 25px;
      height: 25px;
      min-width: 25px;
      padding: 5px;
    }
    button {
      cursor: pointer;
      border: 0;
      border-left: 1px solid #ddd;
      display: block;
      padding: 0;
      flex: 1;
      transition: 0.3s;
      &:hover {
        background-color: #fafafa;
      }
      &:focus {
        outline: none;
      }
    }
  }
  svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
    display: block;
  }
  small {
    display: block;
    margin-bottom: 0;
    text-align: right;
  }
}

.chips {
  margin-bottom: 0 !important;
  li {
    background-color: #eee;
    display: inline-flex;
    align-items: center;
    padding: 5px 5px 5px 10px;
    border-radius: 1.5em;
    margin-right: 10px;
    cursor: grab;
    max-width: 250px;
    &:last-child {
      margin-bottom: 10px;
    }
    > span {
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  button {
    border-radius: 100%;
    padding: 0;
    border: 0;
    background-color: #bbb;
    color: #eee;
    margin-left: 10px;
    &:hover {
      background-color: #888;
      cursor: pointer;
    }
    span {
      width: 16px;
      height: 16px;
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.lightbox {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  & > * {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  .lightbox-bg {
    position: absolute;
    height: 100%;
    max-width: 100%;
    z-index: 1;
  }
  .lightbox-header {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    background-color: #fafafa;
    .lightbox-close {
      cursor: pointer;
    }
    svg {
      width: 15px;
      height: 15px;
      padding: 8px 8px 7px 8px;
      border-left: 1px solid #ddd;
      cursor: pointer;
    }
  }
  .lightbox-content {
    margin-bottom: 25px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
  }
}
