// General
.options-page {
  max-width: 800px;
  h3 {
    font-size: 13px;
    font-weight: normal;
  }
  label {
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 600;
  }
  input[type=text], input[type=number], input[type=email], textarea, select {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 0 10px 0;
  }
  input[type=checkbox] {
    margin-left: 10px;
  }
  textarea {
    height: 100px;
  }
  pre {
    padding: 10px;
    background: #fff;
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  section {
    padding: 30px 0;
    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }
  legend {
    padding: 0;
  }
  ul ul {
    padding-left: 10px;
    margin: 6px 0;
  }
  .inline-option {
    margin-bottom: 10px;
  }
  button {
    cursor: pointer;
  }
}

// Site options
.hours {
  display: flex;
  margin: 10px 0 15px;
  label {
    font-weight: normal;
  }
  select {
    margin: 0;
    &:first-of-type {
      margin-bottom: 8px;
    }
  }
  fieldset {
    padding: 8px;
    border: 1px solid #ccc;
    flex: 1;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
#site_map {
  height: 300px;
}

// 301 Redirects
.redirect-options {
  #redirect-import {
    display: block;
  }
  .sortable-item {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .redirect {
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
    &.add {
      align-items: flex-end;
      margin: 20px 0;
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;
      .new {
        padding-right: 10px;
      }
    }
    .old, .new {
      flex: 1;
      input {
        margin: 0;
      }
    }
    .old {
      padding-right: 10px;
    }
    .new {
      padding-right: 5px;
    }
    .dashicons {
      background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 5px;
    }
  }
}

// Sitemap
.sitemap-options {
  .sitemap-mod {
    margin-left: 15px;
    input {
      display: inline;
      margin: 0;
      border: 0;
      box-shadow: none;
      font-style: italic;
      background-color: transparent;
    }
  }
  .inline-option {
    margin-top: 20px;
    input[type=checkbox] {
      margin-left: 0;
    }
  }
}

// SVG Manager
.svg-options {
  #svg-import {
    display: block;
  }
  #add-svg-top {
    margin-bottom: 10px;
  }
  .svg {
    margin-bottom: 10px;
  }
  svg {
    display: block;
    max-width: 156px;
    max-height: 156px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .svg-container {
    position: relative;
  }
  .invalid-svg {
    display: block;
    max-width: 156px;
    height: 156px;
    line-height: 156px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    color: red;
  }
  textarea {
    max-width: 100%;
  }
}

// Bulk Edit
.bulk-table {
  border-collapse: collapse;
  border: 1px solid #000;
  td {
    border: 1px solid #000;
    padding: 5px;
  }
}
#bulk-upload {
  margin-top: 15px;
}
