#page-builder-btn, #add-section-top, #add-section-bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  span {
    margin-right: 5px;
  }
}
#add-section-top, #add-section-bottom {
  display: flex;
  margin: 10px auto;
  span {
    margin-top: 2px;
  }
}

#page-builder {
  .section {
    .section-options-btn {
      cursor: pointer;
    }
    .section-options {
      input[type=text]:not(.color-picker) {
        width: 100%;
      }
      .iris-picker {
        background: none;
      }
    }
    .section-inside {
      padding: 5px;
    }
  }
  .section-selections {
    margin: 0;
    button {
      height: auto;
      width: 100%;
      text-align: left;
      padding: 10px;
      h4 {
        margin: 0;
        font-size: 14px;
      }
      p {
        margin: 0;
      }
    }
    li {
      margin-bottom: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
  .wp-picker-container {
    display: block;
  }
  .text-editor {
    height: 200px;
  }
}

.pb-related {
  input[type=radio] ~ div {
    display: none;
  }
  input[type=radio]:checked ~ div {
    display: flex;
    margin-top: 5px;
  }
}
