// Uncomment to visually check pages for errors
// body.logged-in {
//   img:not([alt]):not(.ignore-error) {
//     border: 5px solid #f00 !important;
//   }
//   img[alt='']:not(.ignore-error) {
//     border: 5px solid #ff0 !important;
//   }
//   a[href="#"] {
//     border: 5px solid #ff0 !important;
//     &:hover:after {
//       content: 'hash link only';
//       position: absolute;
//       color: #ff0;
//       background-color: rgba(#000, 0.6);
//     }
//   }
//   a[target='_blank']:not([rel]):not(.ignore-error) {
//     border: 5px solid #f00 !important;
//     &:hover:after {
//       content: 'missing "rel" attribute';
//       position: absolute;
//       color: #f00;
//       background-color: rgba(#000, 0.6);
//     }
//   }
// }

.addtoany_list {
  margin-left: -8px;
}

.asset-list {
  li {
    font-size: rem(24);
  }
  ol {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ol li {
    font-size: rem(18);
  }
  .toggle-list {
    cursor: pointer;
    font-size: rem(18);
    &:after {
      content: ' +';
    }
    &.show {
      &:after {
        content: ' -';
      }
    }
    + ol {
      display: none;
      &.show {
        display: block;
      }
    }
  }
}
