#site-footer {
  width: 100%;
  background-color: $secondary;
  color: #fff;
  a {
    color: #fff;
    border: 0;
  }
  .light {
    color: $text-color-light;
  }
  .arrow:hover:after {
    color: #fff;
  }
  @at-root .footer-form {
    background-color: $secondary-light;
    margin: -$section-padding/2 0;
    padding: $section-padding/3;
    @include media-breakpoint-down(xs) {
      padding: 0px 20px;
    }
    iframe {
      height: 82px;
      display: block;
      max-width: 800px;
      margin: 0 auto;
      @include media-breakpoint-down(md) {
        height: 162px;
      }
      @include media-breakpoint-down(xs) {
        height: 266px;
      }
    }
  }
  @at-root .footer-widgets {
    padding-top: $section-padding;
    padding-bottom: $section-padding / 2;
    list-style: none;
    margin: 0 -$grid-padding;
    .widget {
      @extend .col-lg-3;
      @extend .col-md-4;
      margin: 0;
      padding-left: $grid-padding*2;
      padding-right: $grid-padding*2;
      &:first-child {
        @extend .col-lg-6;
        @extend .col-md-4;
      }
    }
    @include media-breakpoint-down(sm) {
      .widget + .widget {
        margin-top: $section-padding / 2;
      }
    }
    p {
      font-size: rem(14);
      line-height: 1.8em;
      color: $text-color-light;
      font-weight: $light;
    }
    a {
      font-weight: $normal;
    }
    .light a {
      font-weight: $light;
      color: $text-color-light;
    }
  }
  .widgettitle {
    font-size: rem(16);
    color: #fff;
  }
  .sub-menu {
    padding-left: 15px;
  }
  .copyright {
    background: $secondary;
    padding: 20px 0;
    a {
      font-size: inherit;
      color: $text-color-light;
      text-decoration: underline;
    }
    .row {
      align-items: center;
    }
    @include media-breakpoint-down(sm) {
      .social-icons {
        margin-bottom: 10px;
      }
      .right {
        text-align: left;
      }
    }
  }
}
#menu-footer-menu {
  li {
    margin-bottom: 10px;
  }
}
