.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: $row-padding;
  padding-left: $row-padding;
}
ul.row {
  width: 100%;
  margin: 0;
  li {
    margin: 0;
  }
}

[class*=col-] {
  flex: 0 1 auto;
  width: 100%;
  max-width: 100%;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

html[data-useragent*='UCBrowser'] {
  main {
    .row {
      display: block;
      [class*=col-] {
        width: 100%;
        flex: none;
      }
    }
  }
}

@each $key, $val in $breaks {
  @include media-breakpoint-up($key) {
    @if $key == 'xs' {
      .container {
        width: 100%;
      }
    }
    @else {
      .container {
        width: $val;
      }
    }
    @each $size in $sizes {
      .col-#{$key}-#{$size} {
        flex-basis: percentage((1/12) * $size);
        max-width: percentage((1/12) * $size);
      }
      .col-#{$key}-offset-#{$size - 1} {
        margin-left: percentage((1/12) * ($size - 1));
      }
      // .visible-#{$key} {
      //   display: block;
      // }
      // .hidden-#{$key} {
      //   display: none;
      // }
    }
  }
}
