// Desktop
#site-header {
  position: relative;
  z-index: 10;
  background-color: #fff;
  .container, .container-fluid {
    align-items: center;
    justify-content: space-between;
    height: $menu-height;
    transition: 0.3s ease;
  }
  .logo-title {
    padding: 0 $grid-padding;
    .site-title {
      margin: 0;
    }
    svg {
      display: block;
      width: 180px;
      height: 33px;
      fill: $primary;
    }
  }
  #hamburger {
    display: none;
  }
  .hamburger {
    display: none;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-left {
    flex: 1 1 auto;
  }
  .header-menu {
    padding-top: 10px;
     > ul > li {
        &:hover > a {
          background-color: $gray;
        }
      &:hover > a, > a:focus {
        background: $gray;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .current-menu-item, .current-menu-ancestor  {
        > a {
          font-weight: $bold;
        }
      }
    }
    .menu-item {
      position: relative;
      display: inline-block;
      min-width: 50px;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    a {
      display: block;
      padding: 10px $grid-padding;
      text-decoration: none;
      color: $text-color;
      border: 0;
      margin-bottom: 10px;
    }
    .sub-menu {
      background-color: #fff;
      box-shadow: $shadow;
      top: 100%;
      padding: 10px;
      position: absolute;
      li {
        text-align: left;
        min-width: 200px;
      }
      a {
        line-height: normal;
        padding: $grid-padding;
        margin: 0;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: $grid-padding - 2px;
          left: $grid-padding;
          width: 0px;
          height: 1px;
          background-color: $primary;
          transition: 0.3s ease;
        }
        &:hover, &:focus {
          background-color: #fff;
          &:after {
            width: 30px;
          }
        }
      }
      .sub-menu {
        position: relative;
        top: auto;
        box-shadow: none;
        padding: 0;
        padding-bottom: $grid-padding;
        > li {
          padding: 0 0 0 $grid-padding * 2;
        }
        a {
          position: relative;
          background: transparent;
          font-size: rem(14);
        }
      }
    }
    .mega-menu > .sub-menu {
      display: flex;
      flex-wrap: nowrap;
      padding: 20px 0;
      > li {
        flex: 1 1;
        padding: 0 $grid-padding;
        > a {
          margin-top: -$grid-padding;
        }
        + li {
          border-left: 1px solid $border-color;
        }
      }
    }
  }
  input[type=checkbox] {
    display: none;
  }
  .dropdown {
    display: none;
    cursor: pointer;
    margin: 0;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
  }
  .search-container {
    position: relative;
    .search-btn {
      cursor: pointer;
      box-sizing: content-box;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      padding: $grid-padding;
      background-color: transparent;
      border-radius: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease;
      margin: 0;
      box-shadow: none;
      &:hover, &:focus {
        background-color: $gray;
      }
      svg {
        width: rem(16);
        height: rem(16);
        fill: $text-color;
      }
    }
    .search-form {
      position: absolute;
      right: 0;
      width: 200px;
      margin: 0;
      left: 9999em;
      opacity: 0;
      border: 1px solid $border-color;
      input {
        margin: 0;
      }
    }
  }
}
#site-header.fixed {
  position: fixed;
  width: 100%;
  + * {
    padding-top: $menu-height;
  }
}
@include media-breakpoint-up(lg) {
  #site-header {
    &.scroll-menu {
      .container-fluid {
        height: $scroll-menu-height;
      }
    }
    li.menu-item {
      .sub-menu {
        opacity: 0;
        left: 9999em;
        transition: opacity 0.3s ease, left 0s ease 0.3s;
        .sub-menu {
          opacity: 1;
          left: 0;
        }
      }
      &:hover .sub-menu {
        opacity: 1;
        left: 0em;
        transition: opacity 0.3s ease, left 0s ease;
      }
    }
  }
}

// Mobile
@include media-breakpoint-down(md) {
  #site-header {
    .container, .container-fluid {
      padding: 0;
      width: 100%;
      height: $mobile-menu-height;
      -ms-flex-pack: space-between;
    }
    .logo-title {
      margin: 0;
      padding: 0 0 0 $grid-padding*2;
      > * {
        line-height: $mobile-menu-height;
      }
    }
    .hamburger {
      display: block;
      cursor: pointer;
      height: 40px;
      width: 40px;
      margin: 0 $grid-padding*2 0 0;
      path {
        stroke-width: 5;
        transition: 0.3s ease;
      }
    }
    #hamburger {
      + label .opened {
        stroke: transparent;
      }
      + label .closed {
        stroke: $primary;
      }
      &:checked {
        ~ .menu-container {
          left: 0;
        }
        + label .opened {
          stroke: $primary;
        }
        + label .closed {
          stroke: transparent;
        }
      }
    }
    nav {
      display: block;
      width: 100%;
      max-height: calc(100vh - #{$mobile-menu-height});
    }
    .menu-container {
      padding: 0;
      flex: none;
      width: 100%;
      position: absolute;
      top: $mobile-menu-height;
      background-color: #fff;
      left: 100%;
      right: 0;
      transition: 0.3s ease;
      max-height: calc(100vh - #{$mobile-menu-height});
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .header-menu {
      transition: 0.3s ease;
      width: 100%;
      padding: 0;
      position: relative;
      .menu-item {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        text-align: left;
        label {
          transition: 0.3s ease;
        }
        &:hover label {
          background-color: $gray;
        }
        a {
          line-height: normal;
          padding: 0;
          flex: 1 1 auto;
          position: relative;
          padding: 15px $grid-padding*2;
          margin: 0;
        }
      }
      .sub-menu {
        transition: none;
        box-shadow: none;
        padding: 0;
        position: absolute;
        top: auto;
        left: 9999em;
        opacity: 0;
        li {
          border-top: 0;
        }
        a {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: $grid-padding*4;
          &:after {
            left: $grid-padding*4;
          }
        }
      }
      .mega-menu {
        > .sub-menu {
          display: block;
          padding: 0;
          > li {
            padding: 0;
            > a {
              padding: 10px $grid-padding 10px $grid-padding*4;
              margin-top: 0;
            }
          }
        }
      }
    }
    .menu-item-has-children {
      input[type=checkbox]:checked {
        + .dropdown {
          svg {
            transform: rotate(180deg);
          }
        }
        ~ .sub-menu {
          left: 0;
          position: relative;
          width: 100%;
          opacity: 1;
        }
      }
      > .dropdown {
        display: flex;
        align-items: center;
        padding: 10px;
        padding-right: 10px + ($grid-padding * 2);
      }
      .menu-item-has-children {
        .dropdown {
          display: none;
        }
        .sub-menu {
          left: auto;
          opacity: 1;
          display: none;
        }
      }
    }
  }
  .search-container {
    display: none;
  }
  #site-header.fixed + * {
    padding-top: $mobile-menu-height;
  }
}
