// General
.page-header, .archive-header, .single-header {
  padding-top: 0;
  padding-bottom: 0;
  &.banner-split {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $gray;
    position: relative;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    [class^=col-] {
      display: flex;
      align-items: center;
    }
    .banner-split-text {
      padding-top: $header-padding;
      padding-bottom: $header-padding;
      padding-right: $section-padding - $grid-padding;
    }
    .banner-img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      height: auto;
      @include media-breakpoint-down(md) {
        position: relative;
        left: 0;
        height: 300px;
      }
      @include media-breakpoint-down(xs) {
        height: 200px;
      }
    }
    @include media-breakpoint-down(md) {
      min-height: auto;
      .banner-split-text {
        padding-right: 0;
      }
    }
  }
  .page-title {
    margin: 0;
  }
  .date-author {
    margin: 25px 0 0 0;
  }
  .page-subtitle {
    margin: 25px 0 0 0;
    *:last-child {
      margin-bottom: 0;
    }
  }
}
.banner-empty {
  display: none;
  + * .header-card {
    box-shadow: none;
    padding-bottom: 0;
    margin-top: 0;
  }
}
.header-card {
  background-color: #fff;
  margin-top: -$section-padding/2;
  // margin-bottom: -$section-padding/2;
  margin-left: -1000px;
  padding: $section-padding/2 $section-padding/2 $section-padding/2 1000px;
  box-shadow: $shadow;
  position: relative;
  z-index: 3;
  @include media-breakpoint-down(xs) {
    margin-left: 0;
    padding: $grid-padding*2;
  }
}
.banner-img, .cs-banner {
  background-color: $gray;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  .lightbox-link, .lightbox-button {
    background-color: #fff;
    width: 75px;
    height: 75px;
    padding: 20px 20px 20px 25px;
    border-radius: 100%;
    box-shadow: $shadow;
    border: none;
    &:hover svg {
      fill: #000;
    }
    svg {
      width: 100%;
      height: 100%;
      fill: #aaa;
      transition: 0.3s ease;
    }
  }
}
.banner-img {
  @include media-breakpoint-up(xl) {
    height: 30vw;
    min-height: 350px;
  }
}
main {
  section {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    &:last-child {
      padding-bottom: $section-padding*1.5;
    }
  }
}
main.single {
  .single-footer {
    .cat-links {
      padding: 5px 0 0;
    }
    .tags-links {
      padding: 0 0 5px;
    }
  }
}
#post-navigation {
  background: $primary-light;
  &:after {
    content: '';
    clear: both;
    float: none;
    display: block;
  }
  .nav-previous {
    padding: 20px 0;
    float: left;
  }
  .nav-next {
    padding: 20px 0;
    float: right;
  }
}
#comments {
  ul {
    list-style: none;
    margin: 0;
    ul {
      margin-left: 32px;
    }
  }
  .comment-body {
    padding: 25px 0;
    border-top: 1px solid $primary;
  }
  form {
    margin: 0;
  }
}

// Widget
.widget {
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    margin: 0 0 5px;
    ul {
      margin-top: 5px;
    }
  }
}

// Sidebar
aside {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}
.sidebar-widgets {
  list-style: none;
  padding: 0;
  margin: 0;
  .widget {
    border-bottom: 1px solid $border-color;
    margin: 0;
    padding: 15px 0;
  }
}
[template^=sidebar] {
  main {
    padding: 0;
    .container {
      padding: 0;
      width: auto;
    }
  }
}

// Search
main.search {
  // .page-header {
  //   padding-top: $header-padding/2;
  //   padding-bottom: $header-padding/2;
  // }
  section {
    padding-top: 0;
  }
  .result {
    padding-top: 50px;
    padding-bottom: 50px;
    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  .result-title {
    font-size: 1em;
  }
  .search-form {
    text-align: center;
  }
  .search-submit {
    margin: 0;
  }
  .no-results {
    section {
      padding-top: $section-padding/2;
    }
  }
}

// 404
main.error {
  .search-form {
    text-align: center;
  }
  .search-submit {
    margin: 0;
  }
}

// Misc
.entry-meta {
  font-size: 0.85em;
  margin: 0 0 20px;
}
.post-links,
.cat-links,
.tags-links {
  font-size: 0.85em;
  margin: 0;
}
a.tax {
  font-size: 0.85em;
  padding-right: 10px;
  border-right: 1px;
  &:not(:first-child) {
    border-left: 1px solid $border-color;
    padding-left: 10px;
  }
}
.load-more {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.lightbox {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  opacity: 0;
  transition: 1s ease;
  &.show {
    opacity: 1;
  }
  .row {
    align-items: center;
    padding-top: $menu-height;
  }
  .lightbox-header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    .lightbox-close, .lightbox-hide {
      width: 50px;
      height: 50px;
      background: none;
      box-shadow: none;
      fill: #fff;
      transition: 0.3s ease;
      stroke-width: 1;
      padding: 10px;
      &:hover {
        fill: #aaa;
      }
    }
  }
  .lightbox-content {
    margin-bottom: 25px;
  }
}
.lightbox-button + .lightbox {
  left: 5555em;
  opacity: 0;
  transition: opacity 1s ease, left 0s ease 1s;
  &.show {
    left: 0;
    opacity: 1;
    transition: opacity 1s ease, left 0s;
  }
}
.error-msg {
  margin-top: 20px;
  *:last-child {
    margin-bottom: 0;
  }
}

// Remove line breaks on small devices
// @include media-breakpoint-down(xs) {
//   br {
//     content: '';
//   }
// }

// Parallax
// .parallax-container {
//   perspective: 1px;
//   overflow-y: auto;
//   height: 100vh;
// }
// .parallax {
//   transform: translateZ(-0.1px) scale(1.1); // scale = 1 - translateZ
// }
