.pb-text {
  > .row {
    > [class*=col-] {
      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.pb-cta {
  background-color: $primary;
  text-align: center;
  h2, p {
    color: #fff;
  }
  &.white-btn {
    .btn {
      @extend .btn-alt;
    }
  }
}

.pb-clients {
  background-color: $gray;
}

.pb-cta_form {
  .text {
    * {
      color: #fff;
    }
  }
  .form-card {
    position: relative;
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }
}

.pb-testimonial {
  background-color: $gray;
  .red-text {
    color: $primary-dark;
    display: inline-block;
    margin-bottom: 10px;
    font-size: rem(16);
  }
  blockquote {
    @extend .h3;
    padding: 0;
    background: none;
  }
  .attestant {
    display: flex;
    align-items: center;
    justify-content: center;
    .featured-img {
      width: 75px;
      height: 75px;
      margin-right: 20px;
      img {
        border-radius: 100%;
      }
      + div {
        text-align: left;
      }
    }
    p {
      margin: 0;
    }
  }
  .title {
    font-size: rem(14);
    margin-top: 4px;
  }
  .arrow {
    margin-top: 8px;
    display: inline-block;
    color: $primary-dark;
    &:after {
      color: $primary-dark;
    }
  }
  button {
    margin-top: $default-margin;
    background-color: $primary-dark;
  }
}

.pb-clients, .pb-awards {
  padding-bottom: $section-padding - 50px;
  .row {
    align-items: center;
    justify-content: center;
  }
  img {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.pb-featured_jobs {
  h3, p {
    margin: 0;
  }
  .card {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div:first-child {
      margin-bottom: 50px;
    }
    div:last-child {
      display: flex;
      justify-content: space-between;
      p {
        margin-right: 20px;
      }
    }
  }
  .btn {
    margin: 50px auto 0;
  }
}

.pb-locations {
  @include media-breakpoint-down(sm) {
    padding-bottom: $section-padding - $default-margin;
    .location-card {
      margin-bottom: $default-margin;
    }
  }
  h2 {
    width: 100%;
  }
  .row {
    padding-left: $grid-padding*2;
    padding-right: $grid-padding*2;
  }
}
.location-card {
  padding: 0;
  border: 1px solid $border-color;
  position: relative;
  .featured-img {
    height: 300px;
  }
  h3 {
    margin: 0;
  }
  ul {
    margin-left: 20px;
  }
  svg {
    width: 20px;
    min-width: 20px;
    height: 20px;
    fill: $primary;
  }
  .location-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
  }
  .location-heading {
    background: none;
    padding: 20px;
    box-shadow: none;
    &:focus {
      outline: 0;
    }
    .button-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .location-extra {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    transition: 0.3s ease;
    > div {
      padding: 0 20px 20px 20px;
    }
  }
}

.pb-kpis {
  padding-bottom: $section-padding - 50px;
  h2 {
    margin-bottom: $default-margin*2;
  }
  svg {
    width: 40px;
    height: 40px;
    min-width: 40px;
    margin-bottom: 25px;
    fill: $primary;
  }
  p {
    margin-bottom: 0;
  }
  .kpi {
    margin-bottom: 50px;
  }
  .btn {
    margin-bottom: 50px;
  }
}

.pb-featured_resource {
  h2 {
    width: 100%;
    text-align: center;
  }
  .card {
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    [class^=col-] {
      padding-left: $card-padding;
      padding-right: $card-padding;
    }
    @include media-breakpoint-down(sm) {
      [class^=col-]:last-child {
        padding-top: $card-padding*2;
        padding-bottom: $card-padding;
      }
    }
  }
  .featured-img {
    width: 100%;
    height: 280px;
  }
}

.pb-overview {
  h2 {
    width: 100%;
  }
  .row {
    padding-left: $grid-padding*2;
    padding-right: $grid-padding*2;
  }
  .card {
    padding: 0;
    display: flex;
    overflow: hidden;
    &:hover {
      .featured-img {
        right: 0;
      }
    }
  }
  .card-content {
    width: 100%;
    padding: 50px;
    padding-right: 33%;
    padding-right: calc(33% + 10px);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    > div {
      width: 100%;
    }
  }
  .featured-img {
    position: absolute;
    top: 0;
    right: -33%;
    bottom: 0;
    width: 33%;
    transition: 0.3s ease;
  }
  @include media-breakpoint-down(sm) {
    .card-content {
      padding-right: 50px;
    }
    .featured-img {
      display: none;
    }
  }
}

.pb-overview_list {
  .card {
    @extend .row;
    padding: 10px 0;
    align-items: center;
  }
  .card-content {
    padding: 50px 100px;
    @include media-breakpoint-down(md) {
      padding: 25px;
    }
  }
  .featured-img {
    width: 100%;
    height: 350px;
    @include media-breakpoint-down(xs) {
      height: 200px;
    }
  }
}

.pb-related {
  .row {
    padding-left: $grid-padding*2;
    padding-right: $grid-padding*2;
  }
}

.pb-products, .product-suites, .solution-suites, .pb-related {
  h2 {
    margin-bottom: 35px;
  }
}
