.single-event, .single-resource, .single-research {
  .header-card {
    @include media-breakpoint-down(md) {
      box-shadow: none;
      margin-left: -$grid-padding*2;
      margin-right: -$grid-padding*2;
      padding: $grid-padding*2;
      padding-bottom: 0;
    }
  }
  .form-card {
    position: relative;
  }
  @include media-breakpoint-down(md) {
    .single-post-content {
      > .row {
        flex-direction: column-reverse;
      }
    }
    .form-card {
      margin-bottom: $section-padding;
    }
  }
}

.single .customer_story {
  .page-header {
    padding-top: $header-padding/2;
    padding-bottom: $header-padding;
  }
  h2:not(:first-child) {
    margin-top: 50px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  .related {
    padding-top: 0;
  }
}
.cs-logo {
  width: 100%;
  height: auto;
  max-width: 150px;
}
.cs-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.cs-banner {
  height: 500px;
  @include media-breakpoint-down('sm') {
    height: 250px;
  }
}
.cs-kpis {
  background-color: $gray;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: -100px;
  margin-right: -110px;
  padding-left: 120px;
  padding-right: 100px;
  > div + div {
    margin-top: 50px;
  }
  @include media-breakpoint-down(md) {
    margin-left: -$grid-padding*2;
    margin-right: -$grid-padding*2;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    > div + div {
      margin-top: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    > div + div {
      margin-top: 50px;
    }
  }
  svg {
    width: 30px;
    min-width: 30px;
    height: 30px;
    fill: $primary;
    margin-bottom: 25px;
  }
  h3 {
    margin-bottom: 0px;
  }
  p {
    margin: 0;
  }
}
.cs-info {
  margin-top: 4px;
  padding-bottom: $section-padding;
  .label {
    font-weight: $bold;
    margin: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      margin: 5px 0 0 0;
    }
  }
}

.single-post-content {
  .row {
    align-items: flex-start;
  }
  aside {
    position: sticky;
    top: 100px;
    padding-top: 0;
    padding-bottom: 0;
    @include media-breakpoint-down(md) {
      padding-top: $section-padding;
      padding-bottom: 0;
    }
  }
  .related-post {
    margin-bottom: $default-margin;
    p {
      margin-bottom: $default-margin/2;
    }
  }
}

.person-single {
  .page-header {
    padding-top: $header-padding/2;
    padding-bottom: $header-padding;
  }
  .single-post-content {
    padding-top: 0;
  }
  .profile-pic {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
}

.single-investor_filing, .single-investor_news, .single-investor_event {
  .single-post-content {
    padding-top: $section-padding/2;
  }
}
.single-investor_filing {
  .single-post-content {
    ul li:first-child {
      display: none;
    }
  }
}
