.social-icons, .share-btns {
  a {
    display: inline-block;
    margin-right: 10px;
    &:hover {
      svg {
        fill: #fff;
      }
    }
  }
  svg {
    width: 18px;
    min-width: 18px;
    height: 18px;
    fill: $text-color-light;
    transition: 0.3s;
  }
}
.share-btns {
  a {
    border: 0;
    margin-right: 15px;
    &:hover {
      svg {
        fill: $text-color;
      }
    }
  }
  svg {
    fill: $text-color;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-padding*2;
  margin-right: -$grid-padding*2;
}
.gallery-item {
  padding-left: $grid-padding*2;
  padding-right: $grid-padding*2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gallery-icon {
  img {
    max-width: 100%;
    height: auto;
  }
}
.gallery-columns-3 {
  .gallery-item {
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-xs-12;
  }
}
.gallery-columns-4 {
  .gallery-item {
    @extend .col-md-3;
    @extend .col-sm-6;
    @extend .col-xs-12;
  }
}
