// Front Page
[template=front-page] {
  .page-header {
    padding-top: $header-padding;
    padding-bottom: $header-padding;
  }
  .fp-background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  @include media-breakpoint-down(xs) {
    .page-header {
      padding-top: 0;
      padding-bottom: 200px;
    }
    .fp-banner-card {
      padding: 80px 25px 80px;
      margin-left: -$grid-padding*2;
      margin-right: -$grid-padding*2;
    }
    .fp-background {
      top: auto;
      height: 200px;
    }
  }
}
.fp-banner-card {
  background-color: #fff;
  padding: 100px;
}
@include media-breakpoint-down(md) {
  .fp-banner {
    right: 0;
  }
  .fp-banner-card {
    padding-right: 100px;
  }
}
@include media-breakpoint-down(sm) {
  .fp-banner-card {
    margin: 0;
  }
}
.fp-text {
  background-color: $secondary;
  background-image: url(/wp-content/uploads/2018/04/dots_small.png);
  background-size: auto;
  background-repeat: repeat-x;
  background-position: 50% 100%;
  padding-bottom: $section-padding - $default-margin;
  p {
    @extend .h2;
    color: #fff;
  }
}
.kpis {
  background-color: $secondary;
  padding-bottom: $section-padding - 50px;
  h2, h3 {
    color: #fff;
    margin-bottom: 50px;
  }
  svg {
    width: 50px;
    min-width: 50px;
    height: 50px;
    fill: #fff;
    margin-bottom: $default-margin;
  }
  .row > div {
    padding-left: $grid-padding*2;
    padding-right: $grid-padding*2;
  }
}
.fp-clients {
  padding-top: 0;
}

// Careers Page
.personality-types {
  margin-left: -$grid-padding*2;
  margin-right: -$grid-padding*2;
  h3 {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  svg {
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin-top: 50px;
  }
}
.checkerboard {
  padding-top: 0;
  padding-bottom: 0;
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    margin-bottom: 15px;
  }
  .squares {
    > div:nth-child(odd) {
      background-color: $gray;
      padding: 80px;
    }
  }
  .featured-img {
    height: 100%;
  }
}
.careers-img {
  width: 100%;
  // max-height: 400px;
}
.careers-img[src^=data] {
  height: 100px;
}

// Products Overview
.po-kpis {
  background-color: $gray;
  svg {
    fill: $primary-dark;
  }
  h3, p {
    color: $text-color;
  }
}
.po-products {
  padding-bottom: 0;
}
.po-clients {
  padding-top: 0;
}

// Product & Solution
.product-kpis, .solution-kpis {
  background: $gray;
  h2 {
    @extend .h3;
  }
}
.kpis-btn {
  background-color: $gray;
  text-align: center;
  padding-bottom: $section-padding;
}
.product-suites, .solution-suites {
  .toggle {
    padding: 0;
    background: none;
    color: $primary-dark;
    box-shadow: none;
  }
}
.suite {
  @extend .pb-products;
  margin-bottom: $grid-padding * 2;
  padding-left: $grid-padding * 2;
  padding-right: $grid-padding * 2;
  &:nth-child(odd) > div {
    flex-direction: row-reverse;
  }
  > div {
    transition: 0.3s ease;
  }
  .card-content {
    background-color: $gray;
    display: flex;
    align-items: center;
    padding: 50px 100px;
    @include media-breakpoint-down(md) {
      padding: 25px;
    }
  }
  .featured-img {
    width: 100%;
    height: 350px;
    @include media-breakpoint-down(xs) {
      height: 200px;
    }
  }
}
.product-dropdown, .solution-dropdown {
  overflow-y: hidden;
  padding: 0;
  transition: 0.3s ease;
  .row {
    background-color: $gray;
    padding: 50px;
  }
  .kpi {
    padding: 25px 50px;
    svg {
      fill: $primary;
      width: 40px;
      min-width: 40px;
      height: 40px;
      display: block;
      margin-bottom: $default-margin;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  .kpi-button {
    padding: 25px 50px 25px;
  }
  @include media-breakpoint-down(md) {
    .row {
      padding: 25px 0;
    }
    .kpi, .kpi-button {
      padding: 25px;
    }
  }
}
.other-products {
  background-color: $gray;
  .row {
    padding-left: $grid-padding*2;
    padding-right: $grid-padding*2;
  }
  h2 {
    width: 100%;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  .arrow {
    color: $primary-dark;
  }
}

// Gallery
.filters {
  background-color: $secondary;
  padding-top: 25px;
  padding-bottom: 25px;
  form {
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
      .toggle {
        margin-top: 20px;
      }
    }
  }
  .input-group {
    position: relative;
    width: 100%;
  }
  .toggle {
    border: 1px solid #fff;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    position: relative;
    z-index: 4;
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.3s ease 0.2s;
    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: #fff;
      transition: 0.3s ease;
      span {
        color: $secondary;
        transition: 0.3s ease;
      }
      svg {
        fill: $secondary;
        transition: 0.3s ease;
      }
    }
    .toggle-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    span {
      color: #fff;
      display: inline-block;
      transition: 0.3s ease 0.2s;
    }
    svg {
      width: 14px;
      min-width: 14px;
      height: 14px;
      transition: 0.3s ease 0.2s;
    }
  }
  #filter-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow-y: hidden;
    transition: 0.3s ease;
    background-color: #fff;
    box-shadow: $shadow;
    z-index: 3;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    &.open {
      transition: 0.3s ease 0.2s;
    }
    fieldset {
      padding: 10px 0;
      border: none;
    }
    legend {
      padding: 15px 25px 5px;
    }
    ul {
      list-style: none;
      margin: 0;
      max-height: 290px;
      overflow: scroll;
    }
    p, li {
      padding: 5px 25px;
      margin: 0;
    }
    p {
      font-size: rem(14);
      text-transform: uppercase;
      margin-top: 10px;
    }
    li {
      display: flex;
      align-items: center;
    }
    label {
      margin: 0;
    }
    .arrow {
      text-align: left;
      background: none;
      display: inline-block;
      padding: 0;
      padding-right: 15px;
      margin: 5px 0px 15px 25px;
      &:hover {
        color: $primary;
      }
    }
  }
  input {
    margin: 0 8px 0 0;
    border-radius: 1.5em;
    padding-left: 25px;
    padding-right: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    &::placeholder {
      color: #fff;
    }
  }
  .search-icon {
    background: none;
    width: 30px;
    height: 30px;
    padding: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    box-shadow: none;
  }
  svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    display: block;
  }
}
#anchor {
  position: absolute;
  margin-top: -$scroll-menu-height;
  @include media-breakpoint-down(md) {
    margin-top: -$mobile-menu-height;
  }
}
.remove-filters {
  margin-top: -$section-padding/2;
  button {
    padding: 0;
    background: none;
    box-shadow: none;
    margin-right: 25px;
    transition: 0.3s ease;
    &:hover {
      color: $primary-dark;
      svg {
        fill: $primary-dark;
      }
    }
    span {
      color: $primary;
    }
  }
  svg {
    width: 8px;
    min-width: 8px;
    height: 8px;
    margin: 0 0 2px 10px;
    fill: $primary;
    transition: 0.3s ease;
  }
}
.posts {
  .row {
    padding-left: $grid-padding*2;
    padding-right: $grid-padding*2;
  }
}

// Investors
.investors-menu {
  background-color: $secondary;
  ul {
    @extend .container;
    @extend .row;
    flex-wrap: wrap;
    padding-left: $grid-padding*2;
    padding-right: $grid-padding*2;
    list-style: none;
    margin: 0 auto;
  }
  li {
    margin: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-right: 1px solid rgba(#fff, 0.3);
    transition: 0.3s ease;
    &:first-child {
      border-left: 1px solid rgba(#fff, 0.3);
    }
    &.current-menu-item {
      background-color: $secondary-dark;
    }
    &:hover {
      background-color: $secondary-dark;
    }
  }
  a {
    color: #fff;
    border: 0;
    display: inline-block;
    padding: 40px 10px;
  }
  @include media-breakpoint-down(sm) {
    ul {
      width: 100%;
      padding: 0;
    }
    li {
      flex: none;
      width: 100%;
      border-right: 0;
      &:first-child {
        border-left: 0;
      }
      a {
        padding: 10px;
      }
    }
  }
}
#stock-kpi {
  border: 1px solid $border-color;
  padding: 20px;
  p {
    margin-bottom: 0;
  }
}
.io-overview-text .container {
  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
  }
}
.io-right {
  margin-bottom: $section-padding/2;
}
.investor-filter {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  select {
    flex: 1 1;
    @include media-breakpoint-down(xs) {
      flex: none;
      width: 100%;
    }
    &:nth-child(2) {
      margin-left: $grid-padding*2;
      @include media-breakpoint-down(xs) {
        margin-left: 0;
      }
    }
  }
}
.year {
  border-bottom: 2px solid $border-color;
  padding: 50px $grid-padding 10px;
  h3 {
    margin: 0;
  }
}
.event-news {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $border-color;
  padding: 25px 0;
  .date {
    width: 250px;
    padding: 0 $grid-padding;
    font-weight: $bold;
  }
  .info {
    padding: 0 $grid-padding;
    flex: 1 1 auto;
    @include media-breakpoint-down(sm) {
      flex: none;
      width: 100%;
    }
  }
}
.investor-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary;
  border: 1px solid $border-color;
  border-top: 0;
  padding: 15px 20px;
  span {
    color: $primary;
  }
  svg {
    fill: $primary;
    width: 16px;
    min-width: 16px;
    height: 16px;
  }
}
.ic-text {
  blockquote {
    padding: 0;
    background-color: transparent;
  }
}
[template=investors-governance] {
  .posts {
    padding-bottom: 0;
  }
}

// Landing Page
[template=landing-page] {
  @include media-breakpoint-up(lg) {
    .wp-text {
      min-height: 500px;
    }
  }
}
.lp-header {
  @include overlay(rgba($secondary, 0.9));
  padding-top: $header-padding;
  padding-bottom: $header-padding;
  .page-title, .page-subtitle {
    color: #fff;
    * {
      color: #fff;
    }
  }
  @include media-breakpoint-down(md) {
    .form-card-container {
      margin-top: $default-margin;
    }
  }
}
.form-card-container {
  position: relative;
}
.form-card {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
}
.form-card-content {
  padding: 50px;
}
@include media-breakpoint-down(md) {
  .form-card {
    position: relative;
    margin-bottom: -$header-padding - ($section-padding/2);
  }
  .form-card-container {
    position: relative;
  }
}
.resource-img {
  padding: 25px 25px 0 25px;
  background-color: #D8DFE1;
  img {
    max-height: 275px;
    max-width: 275px;
    margin: 0 auto;
  }
}

// Personality Labs
[template=personality-labs] {
  .page-header {
    padding-top: $header-padding/2;
    padding-bottom: $header-padding;
  }
  .research {
    margin-bottom: $default-margin*2;
    .featured-img {
      height: 300px;
      margin-bottom: $default-margin;
    }
  }
}
.pl-header {
  background-color: $gray;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  .form-card {
    margin-top: -$section-padding - ($section-padding/2);
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }
}
.featured-research {
  margin-bottom: $default-margin*2;
  .featured-img {
    height: 400px;
    margin-bottom: $default-margin;
  }
}
.advisors {
  padding-top: 0;
  .gallery-card {
    cursor: auto;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

// Calculator
[template=calculator] {
  .page-header {
    h3 {
      padding-top: 25px;
      padding-bottom: 25px;
      margin: 0;
    }
  }
  .form-card {
    margin-bottom: 0;
    position: relative;
  }
  .step-title {
    margin-bottom: 10px;
  }
  @at-root .meter {
    display: flex;
    padding: 10px 0;
    margin-bottom: 50px;
    div {
      width: 50px;
      border-bottom: 1px solid $primary;
      margin-left: 11px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: -5px;
        left: -11px;
        border-radius: 100%;
        border: 1px solid $primary;
        transition: 0.3s ease;
      }
      &:last-child {
        border-bottom: 0;
      }
      &.done:after {
        background-color: $primary;
      }
    }
  }
  @at-root .questions {
    background-color: $secondary-dark;
    padding-bottom: $section-padding*1.5;
    background-image: url(/wp-content/uploads/2018/04/dots_small.png);
    background-size: auto;
    background-repeat: repeat-x;
    background-position: 50% 100%;
    form {
      margin: 0
    }
    * {
      color: #fff;
    }
    .question {
      @extend .h3;
      color: #fff;
      margin-bottom: $default-margin*2;
    }
    label {
      @extend .h4;
      color: #fff;
      display: inline-block;
      margin-bottom: $default-margin;
    }
    .warning-text {
      margin: -20px 0 0 0;
      font-weight: $light;
    }
    input[type=number] {
      background-color: $secondary-dark;
      border: 1px solid #fff;
      border-radius: 1.5em;
      display: block;
      max-width: 200px;
      padding: 10px 25px;
      &.invalid {
        border-color: red;
      }
    }
    input[type=radio] {
      display: none;
      + label {
        cursor: pointer;
        flex: 1;
        border: 1px solid $border-color;
        padding: 20px;
        text-align: center;
        position: relative;
        margin: 0;
        min-width: 190px;
        transition: 0.3s ease;
        @include media-breakpoint-down(xs) {
          flex: none;
          width: 100%;
        }
        &:hover {
          background-color: darken($secondary, 10%);
        }
      }
      &:checked + label {
        background-color: $secondary;
      }
    }
    fieldset {
      border: none;
      padding: 0;
    }
    .options {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
      &.invalid {
        label {
          border-color: red;
        }
      }
      svg {
        width: 50px;
        height: 50px;
        fill: $primary;
        margin: 20px 0;
      }
      p {
        margin: 0;
      }
    }
    .btn {
      min-width: 180px;
      text-align: center;
      margin-top: $default-margin;
    }
  }
  .slider {
    background-color: #fff;
    height: 6px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 80px 40px;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .notch {
    height: 20px;
    width: 3px;
    margin-top: -7px;
    background-color: #fff;
    position: relative;
    span {
      left: -21px;
    }
    &:nth-child(1) span {
      left: -5px;
    }
    &:nth-child(2) span {
      left: -17px;
    }
    span {
      position: absolute;
      top: 50px;
    }
  }
  .ball {
    color: $secondary-dark;
    background-color: #fff;
    padding: 10px;
    width: 79px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    box-shadow: $shadow;
    margin-left: -40px;
  }
  .chart-title {
    margin: 50px 0 0 0;
    text-align: center;
  }
  #slide-1 {
    .service-sales {
      margin-bottom: $default-margin*2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .btn {
      margin-top: 0;
    }
    .questions {
      padding-bottom: ($section-padding*1.5) - ($default-margin*2);
    }
  }
  #step-3 {
    .optional-question {
      margin-bottom: $default-margin;
    }
  }
  #step-6 {
    margin-bottom: -$section-padding/2;
  }
  #pdf-chart, #web-chart {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 300px;
  }
  #pdf-chart {
    position: absolute;
    left: 9999em;
    opacity: 0;
    max-width: 300px;
    + img {
      margin: 0 auto;
      display: none;
    }
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
