@function rem($pixels, $context: 16px) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@function em($pixels, $context: 16px) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
};

$text-color: #415364;
$text-color-light: #D8DFE1;

$primary: #D64123;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 3%);

$secondary: #415364;
$secondary-light: #516475;
$secondary-dark: #1C2A37;

$gray: #F9F9F9;
$grey: $gray;

$border-color: #D8DFE1;
$border-radius: 5px;
$shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

$heading-font: 'Open Sans', sans-serif;
$text-font: 'Open Sans', sans-serif;
$font: 'Open Sans', sans-serif;

$light: 300;
$normal: 400;
$bold: 700;

$default-margin: 25px;
$input-padding: 10px;
$input-border-radius: 0;
$input-margin: 30px;
$menu-height: 120px;
$scroll-menu-height: 75px;
$mobile-menu-height: 70px;
$header-padding: 80px;
$section-padding: 80px;
$row-padding: 10px;
$grid-padding: 10px;
$card-padding: 15px;

// Grid size and break points
$xs-break: 0px;
$sm-break: 576px;
$md-break: 768px;
$lg-break: 992px;
$xl-break: 1200px;
$sizes: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

$breaks: (
  xs: $xs-break,
  sm: $sm-break,
  md: $md-break,
  lg: $lg-break,
  xl: $xl-break
);
$breaks-alt: (
  xs: $sm-break - 1px,
  sm: $md-break - 1px,
  md: $lg-break - 1px,
  lg: $xl-break - 1px,
);

@mixin media-breakpoint-up($name) {
  @media (min-width: map-get($breaks, $name)) {
    @content;
  }
}
@mixin media-breakpoint-down($name) {
  @media (max-width: map-get($breaks-alt, $name)) {
    @content;
  }
}

@mixin overlay($color: rgba(#000, 0.65)) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color;
  }
  & > * {
    position: relative;
    z-index: 2;
  }
}
